<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2vh"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel" 
      /><!--ngModel directive binds an input,select, textarea 
        (or custom form control) 
        to a property on the scope using NgModelController-->
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >E-mail invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <!--#pwInput este o referinta locala catre inputul curent,se bind-uieste de ngModel managed by angular /errors override hints  -->
      <mat-hint allign="end">{{ pwInput.value?.length }} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your b-day"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox
    color="primary"
        ngModel
        name="agree"
        required>
        Agree to terms and condition
    </mat-checkbox>

    <button 
    type="submit" 
    mat-raised-button 
    color="primary"
    [disabled]="f.invalid">Submit</button> <!--binding to disabled propery of the element-->
  </form>
</section>
